<header class="absolute bg-white w-full h-fit  top-0 right-0 left-0 mx-auto py-2 px-20"> 
    <div class="w-full relative flex justify-between items-center mb-5">
        <div>
            <a href="/" class="font-extrabold text-5xl italic">GROUP 8</a>
        </div>
        <div class="w-fit">
            <input type="text" class="border border-gray-300 p-1 rounded" placeholder="Enter product name...">
            <i class="fa-solid fa-magnifying-glass relative right-6"></i>
        </div>
        <div class="text-nowrap ">
            <a href="/shop/cart" class="pl-6 pr-5 py-3 mr-2 bg-sky-500 border-2 border-sky-300 rounded-lg text-white">
                <i class="fa-solid fa-cart-shopping"></i> Your cart 
            </a>
            <a href="/shop/order" class="px-6 py-3 bg-sky-500 border-2 border-sky-300 rounded-lg text-white">
                Your order
            </a>
        </div>
    </div>
    <div id="search-bar " class="w-full bg-white flex items-center px-64 justify-between text-lg">
        <a href="/shop/products/PC" class="hover:text-sky-700"><i class="fa-solid fa-computer"></i> PC</a>
        <a href="/shop/products/Laptop" class="hover:text-sky-700"><i class="fa-solid fa-laptop"></i> Laptop</a>
        <a href="/shop/products/Macbook" class="hover:text-sky-700"><i class="fa-brands fa-apple"></i> Macbook</a>
        <a href="/shop/products/Components" class="hover:text-sky-700"><i class="fa-solid fa-memory"></i> Components</a>
    </div>
</header>