<header class="relative bg-white w-full h-fit  top-0 right-0 left-0 mx-auto py-2 px-10 lg:px-20 mb-10"> 
    <div class="w-full relative flex justify-between items-center mb-5 gap-8 text-nowrap">
        <div class="">
            <a href="/" class="font-extrabold text-3xl italic">GROUP8</a>
        </div>
        <div class="basis-1/3">
            <form action="/search" method="GET" class="w-full">
                <input type="text" name="product_name" class="border border-gray-300 p-2 rounded-md w-full mx-auto outline-none" placeholder="Enter a product name...">
                <button>
                    <i class="fa-solid fa-magnifying-glass relative right-6"></i>
                </button>
            </form>
            
            
        </div>
        <div class="text-nowrap">
            <a href="/my-cart" class="pl-3 pr-4 py-2 mr-2 bg-sky-500 border-2 border-sky-300 rounded-lg text-white">
                <i class="fa-solid fa-cart-shopping"></i> <span class="lg:inline-block hidden">My cart</span>
            </a>
            <a href="/customer/my-order" class="pl-3 pr-4 py-2 bg-sky-500 border-2 border-sky-300 rounded-lg text-white mr-2">
                <i class="fa-solid fa-boxes-stacked"></i> <span class="lg:inline-block hidden">My orders</span>
            </a>
            <a href="/customer/login">Login</a> | 
            <a href="/customer/register">Sign up</a>
        </div>
    </div>
    <div id="search-bar " class="w-full bg-white flex items-center justify-center text-lg text-nowrap ">
        <div class="">
            <a href="/shop/products/PC" class="hover:text-sky-700 mr-32"><i class="fa-solid fa-computer"></i> PC</a>
            <a href="/shop/products/Laptop" class="hover:text-sky-700 mr-32"><i class="fa-solid fa-laptop"></i> Laptop</a>
            <a href="/shop/products/Macbook" class="hover:text-sky-700 mr-32"><i class="fa-brands fa-apple"></i> Macbook</a>
            <a href="/shop/products/Component" class="hover:text-sky-700"><i class="fa-solid fa-memory"></i> Components</a>
        </div>
    </div>
</header>