<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete</title>
    <link rel="stylesheet" href="/css/output.css">
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
</head>
<body class="w-full">
    <div class="w-full p-20 bg-green-500 text-4xl text-green-900 text-center">
        <p><i class="fa-regular fa-circle-check"></i></p>
        <p>Your order has been stored. <a href="/customer/login" class="underline hover:text-sky-700">Login to see your orders</a></p>
        <p>Thank you</p>
    </div>
    
</body>
</html>