<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <style>
        
        main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        }
        
        
    </style>

</head>
<body class="h-screen bg-slate-200">
    <div class="container-xl flex h-full">
        <%- include('../navbar') %>
        
        <main class="md:ml-64 flex justify-center items-center p-5 h-full" >
            <% if(errorMessage.length > 0) {%>
                <div id="message-box" class="absolute right-4 p-2 top-4 w-fit text-lg text-white bg-red-500 shadow-lg">
                    <%= errorMessage %>
                </div>
            <% } %>
            
            <div class="w-full h-full bg-white rounded shadow-lg">
                
                <form action="/inventory/add" method="POST" enctype="multipart/form-data" class="grid grid-rows-7 px-10 py-5 h-full">
                    <div class="row-span-1">
                        <a href="/inventory"  class="text-xl font-extrabold"><i class="fa-solid fa-arrow-left"></i></a>
                        <p class="text-5xl text-sky-500">Add new product</p>
                    </div>
                    <div class="row-span-5 w-full grid grid-cols-2 gap-4 h-full">
                        <div class="col-span-1 ">
                            <label for="productName" class="block font-bold mb-1">Product name:</label>
                            <input type="text" name="productName" class="border border-slate-300 w-3/4 p-2 outline-none" id="product-name" placeholder="eg: Macbook Pro M1">
                        </div>
                        <div class="col-span-1 ">
                            <label for="quantity" class="block font-bold mb-1">Quantity:</label>
                            <input type="text" name="quantity" class="border border-slate-300 w-3/4 p-2 outline-none" id="quantity" placeholder="eg: 10">
                        </div>
                        <div class="col-span-1 ">
                            <label for="category" class="block font-bold mb-1">Category:</label>
                            <select name="category" id="category" class="p-2 outline-none bg-slate-100">
                                <option value="PC/Office">PC/Office</option>
                                <option value="PC/Gaming">PC/Gaming</option>
                                <option value="Laptop/Office">Laptop/Office</option>
                                <option value="Laptop/Gaming">Laptop/Gaming</option>
                                <option value="Laptop/Macbook">Macbook</option>
                                <option value="Component">Component</option>
                            </select>
                        </div>
                        <div class="col-span-1 ">
                            <label for="manufacturer" class="block font-bold mb-1">Manufacturer:</label>
                            <select name="manufacturer" id="manufacturer" class="p-2 outline-none bg-slate-100">
                                <option value="Dell">Dell</option>
                                <option value="Asus">Asus</option>
                                <option value="Acer">Acer</option>
                                <option value="HP">HP</option>
                                <option value="Corsair">Corsair</option>
                                <option value="Apple">Apple</option>
                                <option value="Samsung">Samsung</option>
                                <option value="Kingston">Kingston</option>
                            </select>
                        </div>
                        <div class="col-span-1 ">
                            <label for="ram" class="block font-bold mb-1">Ram capacity(GB):</label>
                            <select name="ram" id="ram" class="p-2 outline-none bg-slate-100">
                                <option value="4">4GB</option>
                                <option value="8">8GB</option>
                                <option value="12">12GB</option>
                                <option value="16">16GB</option>
                                <option value="24">24GB</option>
                                <option value="32">32GB</option>
                                <option value="64">64GB</option>
                                <option value="128">128GB</option>
                            </select>
                        </div>
                        <div class="col-span-1">
                            <label for="ssd" class="block font-bold mb-1">SSD capacity(GB):</label>
                            <select name="ssd" id="ssd" class="p-2 outline-none bg-slate-100">
                                <option value="0">0GB</option>
                                <option value="120">120GB</option>
                                <option value="128">128GB</option>
                                <option value="240">240GB</option>
                                <option value="256">256GB</option>
                                <option value="512">512GB</option>
                                <option value="1000">1TB</option>
                                <option value="2000">2TB</option>
                                <option value="4000">4TB</option>
                            </select>
                        </div>
                        <div class="row-span-1">
                            <label for="import-price" class="block font-bold mb-1">Import price (VND):</label>
                            <input type="number" name="importPrice" class="border border-slate-300 w-1/2 p-2 outline-none" id="import-price" placeholder="eg: 10000000">
                        </div>
                        <div class="row-span-1">
                            <label for="retail-price" class="block font-bold mb-1">Retail price (VND):</label>
                            <input type="number" name="retailPrice" class="border border-slate-300 w-1/2 p-2 outline-none" id="retail-price" placeholder="eg: 12000000">
                        </div>
                        
                        <div class="row-span-1">
                            <label for="product-image" class="block font-bold mb-1">Image:</label>
                            <input type="file" accept="image/*" name="productImage" id="product-image">
                        </div>
                    </div>
                    <div class="row-span-1 col-span-full self-end">
                        <button class="px-6 py-3 bg-green-500 text-white" id="sending-data-btn">Save</button>
                    </div>
                </form>

                
            </div>
            
            
        </main>
    </div>
    
    <script>
        function hideMessage() {
            document.getElementById('message-box').hidden = true;
        }
        
        let sec = 2;
        const intervalId = setInterval(function() {
            sec --;
            if(sec == 0) {
                clearInterval(intervalId);
                document.getElementById('message-box').hidden = true;
            }
        }, 1000)
    </script>
</body>
</html>