<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <style>
        /* li {
            margin-bottom: 30px;
        }
        
        a {
            display: block;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        @media screen and (max-width: 700px) {
            header {
                display: none;
            }
        } */
        
    </style>

</head>
<body class="h-screen bg-slate-200 flex ">
    <div class="container-xl flex w-screen">
        <header class="fixed h-full w-64 bg-white">
            <%- include('navbar') %>
        </header>
        
        <main class="md:ml-64 p-10 flex" style="width: calc(100% - 256px);">
            <div class="basis-2/3 flex gap-6 flex-wrap h-fit">
                <div class="w-44 h-44 bg-slate-300 rounded-xl text-center p-2">Customer</div>
                <div class="w-44 h-44 bg-slate-300 rounded-xl text-center p-2">Revenue</div>
                <div class="w-44 h-44 bg-slate-300 rounded-xl text-center p-2">Profit</div>
                <div class="w-44 h-44 bg-slate-300 rounded-xl text-center p-2">Profit</div>
            </div>
            <div class="basis-1/3 h-fit ml-auto">
                <table class="border-collapse border border-slate-500 w-full">
                    <caption>Staff list</caption>
                    <thead class="">
                        <tr>
                            <th class="border border-slate-600 w-1/5">Avatar</th>
                            <th class="border border-slate-600 w-1/2">Email</th>
                            <th class="border border-slate-600 w-1/3">Name</th>
                            <th class="border border-slate-600 w-1/3">Overall sale</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-slate-600"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                            <td class="border border-slate-600 text-center">staff@gmail.com</td>
                            <td class="border border-slate-600 text-center">Staff</td>
                            <td class="border border-slate-600 text-center">10000</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                            <td class="border border-slate-600 text-center">staff@gmail.com</td>
                            <td class="border border-slate-600 text-center">Staff</td>
                            <td class="border border-slate-600 text-center">10000</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                            <td class="border border-slate-600 text-center">staff@gmail.com</td>
                            <td class="border border-slate-600 text-center">Staff</td>
                            <td class="border border-slate-600 text-center">10000</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                            <td class="border border-slate-600 text-center">staff@gmail.com</td>
                            <td class="border border-slate-600 text-center">Staff</td>
                            <td class="border border-slate-600 text-center">10000</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600"><a href="" ><img src="/images/user.png" alt="" class="w-7 h-7 m-auto"></a></td>
                            <td class="border border-slate-600 text-center">staff@gmail.com</td>
                            <td class="border border-slate-600 text-center">Staff</td>
                            <td class="border border-slate-600 text-center">10000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    
    <script>
    </script>
</body>
</html>