<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="">
        <div>
            <label for="username">Username: </label><br>
            <input type="text" name="username" id="" placeholder="Enter username...">
        </div>
        <div>
            <label for="username">Password: </label><br>
            <input type="password" name="password" id="" placeholder="Enter pasword...">
        </div>
    </form>
</body>
</html>