<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="fixed h-full w-64 bg-white">
        <nav class="flex flex-col justify-between h-full w-full">
            <div class="user-image flex-none my-3 mx-2 hover:bg-slate-100 p-2 hover:rounded-xl">
                <a href="/profile?id=<%= user.id %>" class="flex items-center ">
                    <img src="/images/user.png" alt="" class="w-10">
                    <p class="ml-3"><%= user.username %></p>
                    
                </a>
            </div>
            <hr class="h-1 mx-2">
            <div class="nav-items grow py-6">
                <ul class="flex flex-col gap-3">
                    <% if(user.role === 'ADMIN') {%>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/products" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-computer"></i> Products
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/customers" class="link block py-4 px-2 text-slate-600 hover:text-black text-lg">
                                <i class="fa-solid fa-user-tag"></i> Customers
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/orders" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-cart-plus"></i> Orders
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/staffs" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-people-group"></i> Staffs
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/sale-history" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-clock-rotate-left"></i> Sale History
                            </a>
                        </li>
                    <% } else { %>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/products" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-computer"></i> Products
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/customers" class="link block py-4 px-2 text-slate-600 hover:text-black text-lg">
                                <i class="fa-solid fa-user-tag"></i> Customers
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/orders" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-cart-plus"></i> Orders
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-xl">
                            <a href="/sale-history" class="link block p-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-clock-rotate-left"></i> Sale History
                            </a>
                        </li>
                    <% } %>
        
        
                </ul>
            </div>
            
        
            <div class="logout flex-none p-4 flex flex-col">
                <a href="/setting" class="text-slate-500 hover:text-black text-lg mb-6">
                    <i class="fa-solid fa-gear"></i> Setting
                </a>
                <a href="/auth/logout" class="text-slate-500 hover:text-black text-lg">
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                </a>
            </div>
        
            
        </nav>
    </header>
    <script>
        const links = document.querySelectorAll('.link');
        Array.from(links).forEach((link) => {
            const path = link.getAttribute('href').split('/')[1];
            const current_path = window.location.pathname.split('/')[1];
            
            if(path === current_path) {
                link.classList.add('text-sky-700');
                link.parentElement.classList.add('bg-sky-200', 'rounded-xl');
                link.classList.remove('hover:text-black')
                link.parentElement.classList.remove('hover:bg-slate-100')
                // console.log(link.parentElement.classList)
            }
            else {
                link.classList.remove('text-sky-700');
                link.parentElement.classList.remove('bg-sky-200', 'rounded-xl');
            }
        })
    </script>
</body>
</html>


