<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    
</head>
<body class="h-screen">
    <button class="toggle-nav-btn block md:hidden fixed top-4 left-4" onclick="openNav()">
        <div class="w-5 h-1 bg-black mb-1"></div>
        <div class="w-5 h-1 bg-black mb-1"></div>
        <div class="w-5 h-1 bg-black "></div>
    </button>
    <header class="hidden md:block fixed  h-full w-full md:w-64 bg-white" id="navBar">
        
        <nav class="flex flex-col justify-between h-full w-full">
            <button class="md:hidden block absolute right-4" onclick="closeNav()">
                <span class="font-bold text-4xl">&times;</span>
            </button>
            <div class="user-image flex-none md:my-4 my-8 mx-2 hover:bg-slate-100 p-2 hover:rounded-lg">
                <a href="/profile?id=<%= user.user_id %>" class="flex">
                    <div class="relative bg-auto bg-center">
                        <img src="/images/users/<%= user.profile_picture %>" alt="" class="w-10 border border-white rounded-full">
                        <div class="absolute bg-green-400 w-3 h-3 rounded-full right-0 bottom-2 border border-white"></div>
                    </div>
                    <div class="ml-2">
                        <p class="text text-nowrap"><%= user.fullname %></p>
                        <p class="text-sm text-slate-400"><%= user.username %></p>
                    </div>
                    
                </a>
            </div>
            <hr class="h-1 mx-2">
            <div class="nav-items grow py-6">
                <ul class="flex flex-col gap-3">
                    <% if(user.role === 'ADMIN') {%>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-lg">
                            <a href="/inventory" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-computer"></i> Inventory
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-lg">
                            <a href="/staffs" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-people-group"></i> Staffs
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-lg">
                            <a href="/sale-history" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-clock-rotate-left"></i> Sale History
                            </a>
                        </li>
                    <% } else { %>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-lg">
                            <a href="/inventory" class="link block py-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-computer"></i> Inventory
                            </a>
                        </li>
                        <li class="list-item mx-2 hover:bg-slate-100 hover:rounded-lg">
                            <a href="/sale-history" class="link block p-4 px-2 text-slate-500 hover:text-black text-lg">
                                <i class="fa-solid fa-clock-rotate-left"></i> Sale History
                            </a>
                            
                        </li>
                        
                    <% } %>
                </ul>
            </div>
            
        
            <div class="logout flex-none p-4 flex flex-col">
                <a href="/auth/logout" class="text-slate-500 hover:text-black text-lg">
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                </a>
            </div>
        
            
        </nav>
    </header>
    <script>
        const links = document.querySelectorAll('.link');
        Array.from(links).forEach((link) => {
            const path = link.getAttribute('href').split('/')[1];
            const current_path = window.location.pathname.split('/')[1];
            
            if(path === current_path) {
                link.classList.add('text-sky-700');
                link.parentElement.classList.add('bg-sky-200', 'rounded-lg');
                link.classList.remove('hover:text-black')
                link.parentElement.classList.remove('hover:bg-slate-100')
            }
            else {
                link.classList.remove('text-sky-700');
                link.parentElement.classList.remove('bg-sky-200', 'rounded-lg');
            }
        })

        const navBar = document.getElementById('navBar');
        function openNav() {            
            navBar.classList.remove('hidden');
            navBar.classList.add('block');

        }

        function closeNav() {
            navBar.classList.add('hidden');
            navBar.classList.remove('block');
        }
    </script>
</body>
</html>


