<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ad1797946c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    
    <style>
        
        main {
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            main {
                width:calc(100% - 256px);
            }
        }
        
        
    </style>

</head>
<body class="h-screen bg-slate-200">
    <div class="container-xl flex h-full">
        <%- include('navbar') %>
        
        <main class="md:ml-64 p-10">
            <div class="bg-white w-full h-full grid grid-cols-2 gap-4 p-10">
                <div class="col-span-1 border border-slate-300">
                    <img src="/images/<%= product.product_image %>" alt="" class=" rounded-lg w-full h-full">
                </div>
                <div class="h-full col-span-1 border border-slate-300 w-full place-items-end">
                    <form action="" class="">
                        <div class="">
                            <label for="name">Product name:</label>
                            <input type="text" name="" id="" class="border border-slate-300">
                        </div>
                    </form>
                </div>
            </div>
            
        </main>
    </div>
    
    <script>
        
    </script>
</body>
</html>