<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-slate-200">
    <div class="container">
        <%- include('navbar') %>
    <main class="ml-64">
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <% products.forEach(p =>{ %>
                <tr>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                </tr>
            <% }) %>
        </table>
    </main>
    </div>
</body>
</html>